{% extends 'base.html' %}

{% block head_title %}About |{% endblock %}

<style>
{% block style %}
{% endblock %}
</style>

{% block jumbotron %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class='col-sm-8'>
                    <h2>About Me</h2>
                    <p>Hi! My name is Simon and I am a software engineer in Washington, D.C. In my previous job, I gained my first experiences in tech consulting and project management. In an effort to learn more about tech and to overhaul the company website, I taught myself a bit of webdevelopment as well as general software engineering. This website is the result of it. I tried to teach myself from scratch so everything you see was fed into a mainframe on punched cards (actually, it's running on Django).</p>
                    <p>Before starting my professional career in tech, I received my Master's degree in Management Research from Oxford University. My final thesis used sentiment analysis of social media data to aid the decision making process and corporate communications of senior management.</p>
                    <p>Leading up to my Master's degree, I received my Bachelor's degree from Harvard University where I was an Economics major and also received a citation in French. During my years at Harvard, my coursework included Behavioral, Social, International Trade, and Financial Economics.</p>
                    <p>From the age of 11 onward, I was a dedicated rower, competing for the German National Team, Oxford University, and Harvard University at the highest levels until ending my athletic career in 2011. I stay involved in rowing by volunteering at events, coaching occasionally, and participating in Alumni racing.</p>
                    <p>I was born and raised in Frankfurt am Main, Germany, before attending college. I attended public schools and rowed for my home club, RC Nassovia Höchst. After school and training I would lie down on a couch and enjoy daily ethics lectures (Star Trek TNG - I was Lt. Comm. Data for carnival when I was about 9 years old. I didn't win best costume even though my mom tailored her heart out for me, I died my hair black, and painted my face white. The judges must have been Star Wars fans).</p>
                    <p>
                    <a class="btn btn-lg btn-primary" href="contact.html" role="button">Contact &raquo;</a>
                    </p>
                </div>
                <!-- remove once picture is inserted -->
                <div class='col-sm-4' style='background-color:black;height:300px;'>
            
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="text-align-center">

<h1>{{ title }}</h1>
</div>
{% endblock %}