<footer class="footer">
  <div class="container">
    <p class="text-muted">Copyright &copy; Simon Gawlik &nbsp;&nbsp;&nbsp;
    <a href="https://github.com/simongawlik" class="web-presence" ><i class="fa fa-github fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/simon-gawlik-13878457" class="web-presence" ><i class="fa fa-linkedin fa-2x"></i></a>
    <a href="https://twitter.com/sgawi" class="web-presence" ><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://www.facebook.com/simon.gawlik" class="web-presence" ><i class="fa fa-facebook fa-2x"></i></a>
    </p>
  </div>
</footer>