<footer class="footer">
  <div class="container">
    <p class="text-muted">Copyright &copy; Simon Gawlik &nbsp;&nbsp;&nbsp;
    <a href="https://github.com/simongawlik" ><i class="fa fa-github-square fa-2x"></i></a>&nbsp;
    <a href="https://www.linkedin.com/in/simon-gawlik-13878457" ><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;
    <a href="https://twitter.com/sgawi" ><i class="fa fa-twitter-square fa-2x"></i></a>&nbsp;
    <a href="https://www.facebook.com/simon.gawlik" ><i class="fa fa-facebook-square fa-2x"></i></a>&nbsp;
    </p>
  </div>
</footer>