{# this means home extends/inherits from base.html #}
{% extends "base.html" %}

{% block head_title %}Welcome |{% endblock %}

<style>
{% block style %}
{% endblock %}
</style>

{% block jumbotron %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="row">
            <div class='col-sm-8'>
                <h1>Welcome to my website!</h1>
                <p>I am a software engineer, a former rower, Harvard and Oxford alumnus, live in Washington, DC, and was born and raised in Germany.</p>
                <p>If you would like to send me a message, please head to the contact section.</p>
                <p>
                <a class="btn btn-lg btn-primary" href="contact.html" role="button">Contact &raquo;</a>
                </p>
            </div>
            <div class='col-sm-4' style='background-color:black;height:300px;'>
            
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="text-align-center">
hello, world!
<h1>{{ title }}</h1>
</div>
{% endblock %}