{% extends 'base_blog.html' %}
{% block meta-content %}{% endblock %}
{% block meta-author %} {{ article.author }} {% endblock %}
{% block head_title %}{{ block.super }}{% endblock %}
{% block blogcontent %}
    {% for blogpost in blogpost_list %}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href='{{ blogpost.get_absolute_url }}'>{{ blogpost.title }}</a></h2>
            <p class="blog-post-meta">{{ blogpost.created }} by <a href="#">{{ blogpost.user.get_full_name }}</a></p>

            {{ blogpost.body|safe }}

          </div><!-- /.blog-post -->
    {% endfor %}

        <nav>
            <ul class="pager">
                {% if blogpost_list.has_previous %}
                <li><a href="?{{ page_request_var }}={{ blogpost_list.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li>Page {{ blogpost_list.number }} of {{ blogpost_list.paginator.num_pages }}.</li>
                {% if blogpost_list.has_next %}
                <li><a href="?{{ page_request_var }}={{ blogpost_list.next_page_number }}">Next</a></li>
                {% endif %}
                
            </ul>
        </nav>
    
{% endblock %}