{% extends 'base_blog.html' %}
{% block meta-content %}{% endblock %}
{% block meta-author %} {{ article.author }} {% endblock %}
{% block head_title %}{{ block.super }}{% endblock %}
{% block blogcontent %}
    {% for blogpost in blogpost_list %}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href='{{ blogpost.get_absolute_url }}'>{{ blogpost.title }}</a></h2>
            <p class="blog-post-meta">{{ blogpost.created }} by <a href="#">{{ blogpost.author }}</a></p>

            {{ blogpost.body|safe }}

          </div><!-- /.blog-post -->
    {% endfor %}
{% endblock %}