{% extends 'base_blog.html' %}
{% block meta-content %}{% endblock %}
{% block meta-author %} {{ instance.author }} {% endblock %}
{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock %}
{% block blogcontent %}

        <div class="blog-post">
            <h2 class="blog-post-title">{{ instance.title }} {% if instance.draft %}<span style='color:red;'>- Draft</span>{% endif %}</h2>
            <p class="blog-post-meta">{{ instance.published }} by <a href="#">{{ instance.user.get_full_name }}</a></p>
            
            {{ instance.body }}
            
        </div><!-- /.blog-post -->
{% endblock blogcontent %}